# Pakistan Job Analysis Dec 19 - Mar-21

## Importing Essential Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### loading Data set

In [4]:
file_path='Pakistan Available Job Dec 19 - Mar-21.csv'
df=pd.read_csv(file_path )

In [5]:
df.head()

,Job Name,label,Company Name,Job Type,Experience Required,Department,JD,City,Date Posted
0,"Full Time New Job Positions .Net, .Netcore, Fl...",Premium Job,"Nayel Solutions, Pakistan",Full Time Jobs,2 Years Job Exp.,IT Jobs,"New Job Positions .net, .netcore, flutter, Tea...",Islamabad,12-Mar-21
1,Full Time Senior Web Developer Jobs in Pakistan,Premium Job,"Eurosoft Tech Private Limited, Pakistan",Full Time Jobs,2 Years Job Exp.,IT Jobs,We are looking for an experienced Web Develope...,Karachi,12-Mar-21
2,Full Time Russian Speakers Jobs in Pakistan,Premium Job,"ICM JAPAN, Pakistan",Full Time Jobs,< 1 Year,Customer Service Jobs,International clients dealing exposure (B2B).S...,Karachi,12-Mar-21
3,Full Time Customer Support Specialist - Intern...,Premium Job,"ibex, Pakistan",Full Time Jobs,Job for Fresh Graduates,Customer Service Jobs,Responsible for acting as a liaison between ou...,Islamabad,9-Mar-21
4,Full Time English Speaker - International Busi...,Premium Job,"ICM JAPAN, Pakistan",Full Time Job,< 1 Year,Customer Service Job,International clients dealing exposure (B2B) a...,Karachi,5-Mar-21

### Summary Statistics

In [6]:
df.shape

(6680, 9)

In [7]:
df.describe()

,Job Name,label,Company Name,Job Type,Experience Required,Department,JD,City,Date Posted
count,6680,1115,6017,6680,6680,6680,6680,6680,6680
unique,3838,3,2879,2,17,111,5043,86,443
top,Full Time Graphic Designer Job in Pakistan,Gallery Job,"ibex, Pakistan",Full Time Job,2 Years Job Exp.,IT Job,To generate quality leads that result in sales...,Lahore,23-Feb-21
freq,60,775,93,3821,1635,820,37,2046,134

In [8]:
df.columns

Index(['Job Name', 'label', 'Company Name', 'Job Type', 'Experience Required',
       'Department', 'JD', 'City', 'Date Posted'],
      dtype='object')

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
df.isnull().sum()

Job Name                  0
label                  5565
Company Name            663
Job Type                  0
Experience Required       0
Department                0
JD                        0
City                      0
Date Posted               0
dtype: int64

0       False
1       False
2       False
3       False
4       False
        ...
1345     True
1346     True
1347     True
1348     True
1349     True
Length: 1350, dtype: bool