# Pakistani Freelancers Analysis

## Importing Essential Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### loading Data set

In [5]:
file_path='freelancers-in-pakistan.csv'
df=pd.read_csv(file_path , index_col=0)

In [12]:
df

,name,profession,reviews,earning($),hourly_rate
0,aimanhaider1,Professional Illustrator & WordPress Developer,210 reviews,7.4,$10 USD per hour
1,dreamdezine,Where imagination & art meet.,2035 reviews,8.7,$25 USD per hour
2,usatechsoft,Wordpress|Woocommerce|Shopify|PHP7,481 reviews,8.9,$40 USD per hour
3,zohaab85,Ghost Writer | Research Analyst I Business Writer,775 reviews,8.7,$20 USD per hour
4,AneesaIBA,Content/Design Powerhouse–Where Ideas Come to ...,361 reviews,7.5,$20 USD per hour
...,...,...,...,...,...
1345,PolestarDesigns,NFT Artist | Illustrations | Graphic Design,892 reviews,8.4,$65 USD per hour
1346,FarazAbbas,PHP JavaScript Laravel Wordpress CSS Node Reac...,468 reviews,7.8,$20 USD per hour
1347,aftabyounas,Web & Mobile App Developer,596 reviews,7.9,$20 USD per hour
1348,web99design,Top Rated PHP/WordPress/Shopify Dev & UIX Desi...,269 reviews,8.1,$15 USD per hour
1349,godesignpk,Developers I Animators I Designers,205 reviews,7.2,$30 USD per hour

### Summary Statistics

In [8]:
df.shape

(1350, 5)

In [9]:
df.describe()

        earning($)
count  1350.000000
mean      8.060000
std       0.568013
min       7.200000
25%       7.500000
50%       8.000000
75%       8.700000
max       8.900000

In [14]:
df.columns

Index(['name', 'profession', 'reviews', 'earning($)', 'hourly_rate'], dtype='object')

In [19]:
type(df)

pandas.core.frame.DataFrame